.wp-block-file {

	.wp-block-file__button {
		background: var(--button--color-background);
		color: var(--button--color-text);
		font-family: var(--button--font-family);
		font-size: var(--button--font-size);
		margin-left: var(--global--spacing-unit);
		margin-right: var(--global--spacing-unit);

		&:before,
		&:after {
			display: inherit;
		}
	}

	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		color: var(--button--color-text-hover);
		opacity: .85;
	}
}
