/**
 * Extra Child Theme Styles
 */
// @import "";


a {
	// text-decoration: none;
}

h1, h2, h3 {
	font-family: 'CircularStd';
}

h4, h5 {
	font-weight: normal;
}

h1 {
	font-size: 5.91rem;
	line-height: 1.1;
}

.site-branding,
.site-info,
.main-navigation,
.entry-header,
.entry-footer,
.page-title,
.author-title,
.comments-title,
.comment-reply-title {
	text-align: center;
}

.main-navigation > div {
	text-align: left;
}

.comment-reply-title {
	display: inherit;
}

.comment .comment-reply-title {
	display: flex;
}

.main-navigation > div > ul,
.social-navigation > div > ul,
.pagination .nav-links {
	justify-content: center;
}

.wp-block-cover {
	transition: border-bottom-right-radius 0.1s ease-out;
}

.wp-block-cover {
	&:hover {
		cursor: pointer;
		border-bottom-right-radius: 1rem;
	}
}

.wp-block-button, .wp-block-button.is-style-outline {
	a.wp-block-button__link {
		border: 2px solid transparent;
		border-radius: 0;
		border-bottom-right-radius: 8px;
		color: var(--global--color-black);
		font-size: 1rem;
		opacity: 1;
		padding: 1.2rem 2.25rem;
		transition: all .15s ease-in-out;
		&:focus {
			background-color: var(--global--color-primary);
			border: 2px solid var(--global--color-black);
		}
		&:hover {
			background-color: var(--global--color-primary);
			opacity: .75;
		}
	}
}

.wp-block-button.is-style-outline {
	a.wp-block-button__link {
		border: 2px solid var(--global--color-black);
		&:focus {
			background-color: transparent;
			border-width: 4px;
			color: var(--global--color-black);
		}
		&:hover {
			color: var(--global--color-black);
			background-color: var(--global--color-primary-hover);
			opacity: 1;
		}
	}
}

.wp-block-latest-posts {
	> li > a {
		color: var(--global--color-black);
		font-size: 26px;
		font-weight: normal;
	}
	.wp-block-latest-posts__post-date {
		font-family: 'CircularStd';
		font-size: 16px;
	}
}
