:root {
	/* Globals */
	/* Font Family */
	--global--font-primary: 'Red Hat Display', sans-serif;
	--global--font-secondary: 'Red Hat Text', sans-serif;
	--global--color-primary: #000000;
	--global--color-primary-hover: #333333;
	--global--color-secondary: #000000;
	--global--color-secondary-hover: #333333;
	--global--color-foreground: #000000;
	--global--color-foreground-light: #333333;
	--global--color-background: #BFF5A5;
	--global--color-background-dark: #BFF5A5;
    --global--color-border: var(--global--color-secondary);
	/* Font Size */
	--global--font-size-root: 20px;
	--global--font-size-md: 20px;
	--global--font-size-lg: 24px;
	--global--font-size-xl: 36px;
	--global--font-size-xxl: 48px;
	/* Line Height */
	--global--line-height-base: 1;
	--global--line-height-body: 1.7;
	--global--line-height-heading: 1.3;
	--heading--font-family: var(--global--font-primary); // this needs to be set for the editor? 
}