.wp-block-quote {
	border-left-color: var(--quote--border-color);
	border-left-width: var(--quote--border-width);
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);

	& > * {
		margin-top: var(--global--spacing-unit);
		margin-bottom: var(--global--spacing-unit);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

		p {
		font-family: var(--quote--font-family);
		font-size: var(--quote--font-size);
		line-height: inherit; 
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--global--color-foreground-light);
		font-size: var(--global--font-size-sm);

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */
	&.has-text-align-right {
		border-right: none;
		padding-right: 0;
	}

	&.is-style-large,
	&.is-large {
		border-left: var(--quote--border-width) solid var(--quote--border-color);
		padding-left: var(--global--spacing-horizontal);
		/* Resetting margins to match _block-container.scss */
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);

		p {
			font-size: var(--quote--font-size-large);
			font-style: normal;
			line-height: 1.6;
		}
		&.has-text-align-right {
			border-left: none;
		}

		&.has-text-align-center {
			border: none;
		}

		.wp-block-quote__citation,
		cite,
		footer {
			color: var(--global--color-foreground-light);
			font-size: var(--global--font-size-sm);
		}
	}

	.has-background:not(.has-background-background-color) &,
	[class*="background-color"]:not(.has-background-background-color) &,
	[style*="background-color"] &,
	.wp-block-cover[style*="background-image"] & {
		border-color: currentColor;
	}
}
