/**
 * These styles should be loaded by the Block Editor only
 */
/**
 * Layout
 * - Structral and responsive styles
 */
/**
 * Repsonsive Styles
 */
/**
 * Required Variables
 */
/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal));
	--responsive--aligndefault-width: 100%;
	--responsive--alignwide-width: 100%;
	--responsive--alignfull-width: 100%;
	--responsive--aligndefault-width: 100%;
	--responsive--alignwide-width-multiplier: calc(16 * var(--global--spacing-horizontal));
	--responsive--alignright-margin: var(--global--spacing-horizontal);
	--responsive--alignleft-margin: var(--global--spacing-horizontal);
}

@media only screen and (min-width: 560px) {
	:root {
		--responsive--aligndefault-width: calc(560px - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(560px - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@media only screen and (min-width: 640px) {
	:root {
		--responsive--aligndefault-width: calc(560px - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(560px - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@media only screen and (min-width: 782px) {
	:root {
		--responsive--aligndefault-width: calc(640px - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(782px - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@media only screen and (min-width: 1024px) {
	:root {
		--responsive--aligndefault-width: calc(782px - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(782px + var(--responsive--alignwide-width-multiplier));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@media only screen and (min-width: $breakpoint_xxl) {
	:root {
		--responsive--aligndefault-width: calc(1024px - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(1024px + var(--responsive--alignwide-width-multiplier));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

/**
 * Extends
 */
.default-max-width {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

.wide-max-width {
	max-width: var(--responsive--alignwide-width);
	margin-left: auto;
	margin-right: auto;
}

.full-max-width {
	max-width: var(--responsive--alignfull-width);
	margin-left: auto;
	margin-right: auto;
}

/**
 * Output
 */
/**
 * Site Structure
 *
 * - Set vertical margins and responsive widths on
 *   top-level wrappers and content wrappers
 * - `--global--width-content` is a responsive veriable
 * - See: globals/_global-width-responsive.scss
 */
/**
 * Top Level Wrappers (header, main, footer)
 * - Set vertical padding and horizontal margins
 */
.site-header,
.site-main,
.site-footer {
	padding: var(--global--spacing-unit) var(--global--spacing-horizontal);
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 560px) {
	.site-header,
	.site-main,
	.site-footer {
		padding-top: var(--global--spacing-vertical);
		padding-right: 0;
		padding-bottom: var(--global--spacing-vertical);
		padding-left: 0;
	}
}

/**
 * Site-main children wrappers
 * - Add double vertical margins here for clearer heirarchy
 */
.site-main > * {
	margin-top: calc(3 * var(--global--spacing-vertical));
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

.site-main > *:first-child {
	margin-top: 0;
}

.site-main > *:last-child {
	margin-bottom: 0;
}

/**
 * Set the default maximum responsive content-width
 */
/**
 * Set the wide maximum responsive content-width
 */
/**
 * Set the full maximum responsive content-width
 */
/*
 * Block & non-gutenberg content wrappers
 * - Set margins
 */
.entry-header,
.post-thumbnail,
.entry-content,
.entry-footer,
.author-bio,
.widget-area {
	margin-top: var(--global--spacing-vertical);
	margin-right: auto;
	margin-bottom: var(--global--spacing-vertical);
	margin-left: auto;
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-vertical margin logic
 */
.site-footer > *,
.site-main > article > *,
.site-main > .not-found > *,
.entry-content > *,
[class*="inner-container"] > *,
.widget-area > * {
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.site-footer > *,
	.site-main > article > *,
	.site-main > .not-found > *,
	.entry-content > *,
	[class*="inner-container"] > *,
	.widget-area > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

.site-footer > *:first-child,
.site-main > article > *:first-child,
.site-main > .not-found > *:first-child,
.entry-content > *:first-child,
[class*="inner-container"] > *:first-child,
.widget-area > *:first-child {
	margin-top: 0;
}

.site-footer > *:last-child,
.site-main > article > *:last-child,
.site-main > .not-found > *:last-child,
.entry-content > *:last-child,
[class*="inner-container"] > *:last-child,
.widget-area > *:last-child {
	margin-bottom: 0;
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-unit margins
 */
.site-header > *,
.entry-header > *,
.post-thumbnail > *,
.page-content > *,
.comment-content > *,
.author-bio > *,
.widget-area > .widget > * {
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);
}

.site-header > *:first-child,
.entry-header > *:first-child,
.post-thumbnail > *:first-child,
.page-content > *:first-child,
.comment-content > *:first-child,
.author-bio > *:first-child,
.widget-area > .widget > *:first-child {
	margin-top: 0;
}

.site-header > *:last-child,
.entry-header > *:last-child,
.post-thumbnail > *:last-child,
.page-content > *:last-child,
.comment-content > *:last-child,
.author-bio > *:last-child,
.widget-area > .widget > *:last-child {
	margin-bottom: 0;
}

/*
 * .entry-content children specific controls
 * - Adds special margin overrides for alignment utility classes
 */
.entry-content > * {
	/* Reset alignleft and alignright margins after alignfull */
}

.entry-content > *.alignleft, .entry-content > *.alignright,
.entry-content > *.alignleft:first-child + *,
.entry-content > *.alignright:first-child + *, .entry-content > *.alignfull {
	margin-top: 0;
}

.entry-content > *:last-child, .entry-content > *.alignfull {
	margin-bottom: 0;
}

.entry-content > *.alignfull + .alignleft,
.entry-content > *.alignfull + .alignright {
	margin-top: var(--global--spacing-vertical);
}

#wpwrap .editor-styles-wrapper {
	color: var(--global--color-foreground);
	background-color: var(--global--color-background);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-root);
	font-weight: normal;
	line-height: var(--global--font-line-height-body);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-post-title__block {
	font-size: var(--global--font-size-root);
}

.editor-styles-wrapper a {
	color: var(--global--color-primary);
}

.editor-styles-wrapper a:hover {
	color: var(--global--color-primary-hover);
}

.editor-styles-wrapper button,
.editor-styles-wrapper a {
	cursor: pointer;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
blockquote {
	padding-left: var(--global--spacing-horizontal);
}

blockquote p {
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
}

blockquote cite,
blockquote footer {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
	letter-spacing: var(--global--letter-spacing-sm);
}

blockquote > * {
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote.alignleft, blockquote.alignright {
	padding-left: inherit;
}

blockquote.alignleft p, blockquote.alignright p {
	font-size: var(--heading--font-size-h5);
	max-width: inherit;
	width: inherit;
}

blockquote.alignleft cite,
blockquote.alignleft footer, blockquote.alignright cite,
blockquote.alignright footer {
	font-size: var(--global--font-size-xs);
	letter-spacing: var(--global--letter-spacing-xs);
}

figcaption {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-xs);
	line-height: var(--global--font-line-height-xs);
	margin-top: calc(0.5 * var(--global--spacing-unit));
	margin-bottom: var(--global--spacing-unit);
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-aligntop .post-thumbnail {
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignleft .post-thumbnail {
	margin-right: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignright .post-thumbnail {
	margin-left: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image .entry-wrapper {
	padding: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image .cat-links {
	color: var(--global--color-white);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image a:hover {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .article-section-title {
	font-size: var(--global--font-size-base);
	margin-top: 0;
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-a8c-blog-posts article {
	margin-bottom: calc(2 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper .wp-block-a8c-blog-posts article {
		margin-bottom: calc(3 * var(--global--spacing-vertical));
	}
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .post-thumbnail img {
	vertical-align: middle;
	width: auto;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > * {
	/* Vertical margins logic between post details */
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > *:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > *:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: var(--global--color-primary);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a:hover {
	color: var(--global--color-primary-hover);
	text-decoration: underline;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link {
	display: block;
	color: inherit;
	margin-top: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:after {
	content: "\02192";
	display: inline-block;
	margin-left: 0.5em;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover, .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active {
	color: var(--global--color-primary-hover);
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover, .has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta .byline:not(:last-child),
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links .byline:not(:last-child) {
	margin-right: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta .published + .updated,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links .published + .updated {
	display: none;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a {
	color: currentColor;
	text-decoration: underline;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover, .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active {
	color: var(--global--color-primary-hover);
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover, .has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active {
	color: currentColor;
}

.wp-block-a8c-blog-posts + .button {
	line-height: var(--button--line-height);
	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	text-decoration: none;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
}

.wp-block-a8c-blog-posts + .button:before, .wp-block-a8c-blog-posts + .button:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
}

.wp-block-a8c-blog-posts + .button:before {
	margin-bottom: -calc(.5em * var(--button--line-height) + -.38);
}

.wp-block-a8c-blog-posts + .button:after {
	margin-top: -calc(.5em * var(--button--line-height) + -.39);
}

.wp-block-a8c-blog-posts + .button:active {
	color: var(--button--color-text-active);
	background-color: var(--button--color-background-active);
}

.wp-block-a8c-blog-posts + .button:hover, .wp-block-a8c-blog-posts + .button:focus, .wp-block-a8c-blog-posts + .has-focus.button {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.wp-block-a8c-blog-posts + .button {
	display: inline-block;
	font-size: var(--global--font-size-md);
}

.wp-block-a8c-blog-posts + .button:hover {
	cursor: default;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button,
[style*="background-color"] .wp-block-a8c-blog-posts + .button {
	background-color: transparent;
	border: var(--button--border-width, 2px) solid currentColor;
	color: currentColor;
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link {
	color: var(--button--color-text);
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	line-height: var(--button--line-height);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover, .editor-styles-wrapper .wp-block-button .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button .wp-block-button__link.has-focus {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--button--color-background);
	background: transparent;
	border: 2px solid currentcolor;
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link.has-focus {
	color: var(--button--color-background-hover);
}

.editor-styles-wrapper .wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.editor-styles-wrapper .wp-block-cover,
.editor-styles-wrapper .wp-block-cover-image {
	background-color: var(--cover--color-background);
	color: var(--cover--color-foreground);
	min-height: var(--cover--height);
	margin-top: inherit;
	margin-bottom: inherit;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover-image .block-editor-block-list__block {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container a,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text a,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text a,
.editor-styles-wrapper .wp-block-cover .block-editor-block-list__block a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text a,
.editor-styles-wrapper .wp-block-cover-image .block-editor-block-list__block a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .block-editor-block-list__block {
	color: var(--cover--color-foreground);
}

.editor-styles-wrapper .wp-block-cover h2,
.editor-styles-wrapper .wp-block-cover-image h2 {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	padding: 0;
	max-width: inherit;
	text-align: inherit;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-left,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-left {
	text-align: left;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-center,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-center {
	text-align: center;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-right,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-right {
	text-align: right;
}

.editor-styles-wrapper .wp-block-gallery figcaption {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-group.has-background {
	padding: calc( 0.666 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper .wp-block-group.has-background {
		padding: var(--global--spacing-vertical);
	}
}

.editor-styles-wrapper .wp-block[data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full] {
	margin: 0;
	width: 100%;
}

.editor-styles-wrapper .wp-block-heading h1, .editor-styles-wrapper h1, .editor-styles-wrapper .h1,
.editor-styles-wrapper .wp-block-heading h2, .editor-styles-wrapper h2, .editor-styles-wrapper .h2,
.editor-styles-wrapper .wp-block-heading h3, .editor-styles-wrapper h3, .editor-styles-wrapper .h3,
.editor-styles-wrapper .wp-block-heading h4, .editor-styles-wrapper h4, .editor-styles-wrapper .h4,
.editor-styles-wrapper .wp-block-heading h5, .editor-styles-wrapper h5, .editor-styles-wrapper .h5,
.editor-styles-wrapper .wp-block-heading h6, .editor-styles-wrapper h6, .editor-styles-wrapper .h6 {
	clear: both;
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
}

.editor-styles-wrapper .wp-block-heading h1 strong, .editor-styles-wrapper h1 strong, .editor-styles-wrapper .h1 strong,
.editor-styles-wrapper .wp-block-heading h2 strong, .editor-styles-wrapper h2 strong, .editor-styles-wrapper .h2 strong,
.editor-styles-wrapper .wp-block-heading h3 strong, .editor-styles-wrapper h3 strong, .editor-styles-wrapper .h3 strong,
.editor-styles-wrapper .wp-block-heading h4 strong, .editor-styles-wrapper h4 strong, .editor-styles-wrapper .h4 strong,
.editor-styles-wrapper .wp-block-heading h5 strong, .editor-styles-wrapper h5 strong, .editor-styles-wrapper .h5 strong,
.editor-styles-wrapper .wp-block-heading h6 strong, .editor-styles-wrapper h6 strong, .editor-styles-wrapper .h6 strong {
	font-weight: var(--heading--font-weight-strong);
}

.editor-styles-wrapper .wp-block-heading h1, .editor-styles-wrapper h1, .editor-styles-wrapper .h1 {
	font-size: var(--heading--font-size-h1);
	letter-spacing: var(--heading--letter-spacing-h1);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-heading h2, .editor-styles-wrapper h2, .editor-styles-wrapper .h2 {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-heading h3, .editor-styles-wrapper h3, .editor-styles-wrapper .h3 {
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-heading h4, .editor-styles-wrapper h4, .editor-styles-wrapper .h4 {
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-heading h5, .editor-styles-wrapper h5, .editor-styles-wrapper .h5 {
	font-size: var(--heading--font-size-h5);
	letter-spacing: var(--heading--letter-spacing-h5);
	line-height: var(--global--line-height-body);
}

.editor-styles-wrapper .wp-block-heading h6, .editor-styles-wrapper h6, .editor-styles-wrapper .h6 {
	font-size: var(--heading--font-size-h6);
	letter-spacing: var(--heading--letter-spacing-h6);
	line-height: var(--global--line-height-body);
}

/* Center image block by default in the editor */
.editor-styles-wrapper .wp-block-image > div {
	text-align: center;
}

.editor-styles-wrapper [data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

.editor-styles-wrapper .wp-block-latest-comments {
	margin-left: 0;
}

.editor-styles-wrapper .wp-block-latest-posts {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li {
	margin-top: var(--global--spacing-vertical);
	margin-bottom: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts.is-grid > li {
	margin-bottom: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-latest-posts.is-grid > li:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > * {
	margin-top: calc(0.5 * var(--global--spacing-vertical));
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-latest-posts > li > *:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > *:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > a {
	font-family: var(--latest-posts--title-font-family);
	font-size: var(--latest-posts--title-font-size);
	font-weight: var(--heading--font-weight);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-xs);
	line-height: var(--global--line-height-body);
}

[class*="inner-container"] .editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date,
.has-background .editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-full-content {
	font-family: var(--latest-posts--description-font-family);
	font-size: var(--latest-posts--description-font-size);
	line-height: var(--global--line-height-body);
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .editor-styles-wrapper .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .editor-styles-wrapper .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .editor-styles-wrapper .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .editor-styles-wrapper .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .editor-styles-wrapper .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .editor-styles-wrapper .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .editor-styles-wrapper .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .editor-styles-wrapper .gallery-item {
	max-width: 11.11%;
}

.editor-styles-wrapper .gallery-caption {
	display: block;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	font-family: var(--list--font-family);
	margin: var(--global--spacing-vertical) 0;
	padding-left: calc( 2 * var(--global--spacing-horizontal));
}

.editor-styles-wrapper ul.aligncenter,
.editor-styles-wrapper ol.aligncenter {
	list-style-position: inside;
	padding: 0;
}

.editor-styles-wrapper ul.alignright,
.editor-styles-wrapper ol.alignright {
	list-style-position: inside;
	text-align: right;
	padding: 0;
}

.editor-styles-wrapper li > ul,
.editor-styles-wrapper li > ol {
	margin: 0;
}

.editor-styles-wrapper dt {
	font-family: var(--definition-term--font-family);
	font-weight: bold;
}

.wp-block-media-text .block-editor-inner-blocks {
	padding-right: var(--global--spacing-horizontal);
	padding-left: var(--global--spacing-horizontal);
}

@media only screen and (min-width: 640px) {
	.wp-block-media-text .block-editor-inner-blocks {
		padding-right: var(--global--spacing-vertical);
		padding-left: var(--global--spacing-vertical);
	}
}

.wp-block-media-text[style*="background-color"]:not(.has-background-background-color) a {
	color: currentColor;
}

.editor-styles-wrapper p.has-background {
	padding: var(--global--spacing-unit);
}

.editor-styles-wrapper p.has-background:not(.has-background-background-color) a {
	color: currentColor;
}

.editor-styles-wrapper .a8c-posts-list {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote {
	padding: calc( 3 * var(--global--spacing-unit)) 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	border-top-color: var(--pullquote--color-border);
	border-top-width: var(--pullquote--border-width);
	border-bottom-color: var(--pullquote--color-border);
	border-bottom-width: var(--pullquote--border-width);
	color: var(--pullquote--color-foreground);
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote p {
	font-family: var(--pullquote--font-family);
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-pullquote a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation,
.editor-styles-wrapper .wp-block-pullquote cite,
.editor-styles-wrapper .wp-block-pullquote footer {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.editor-styles-wrapper .wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color {
	background-color: var(--pullquote--color-foreground);
	color: var(--pullquote--color-background);
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.alignleft blockquote,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.alignright blockquote {
	padding-left: var(--global--spacing-unit);
	padding-right: var(--global--spacing-unit);
	max-width: inherit;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color cite,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color footer {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-pullquote.alignwide > p,
.editor-styles-wrapper .wp-block-pullquote.alignfull > p,
.editor-styles-wrapper .wp-block-pullquote.alignwide blockquote,
.editor-styles-wrapper .wp-block-pullquote.alignfull blockquote {
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper .wp-block-quote {
	border-left-color: var(--quote--border-color);
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);
}

.editor-styles-wrapper .wp-block-quote p {
	font-family: var(--quote--font-family);
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--global--line-height-h4);
}

.editor-styles-wrapper .wp-block-quote.is-large, .editor-styles-wrapper .wp-block-quote.is-style-large {
	border: none;
	padding: 0;
}

.editor-styles-wrapper .wp-block-quote.is-large p, .editor-styles-wrapper .wp-block-quote.is-style-large p {
	font-family: var(--quote--font-family);
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
	line-height: var(--global--line-height-h3);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-quote {
	border-color: currentColor;
}

.editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-separator,
.editor-styles-wrapper hr {
	border-bottom: var(--separator--height) solid var(--separator--border-color);
	clear: both;
}

.editor-styles-wrapper .wp-block-separator[style*="text-align:right"], .editor-styles-wrapper .wp-block-separator[style*="text-align: right"],
.editor-styles-wrapper hr[style*="text-align:right"],
.editor-styles-wrapper hr[style*="text-align: right"] {
	border-right-color: var(--separator--border-color);
}

.editor-styles-wrapper .wp-block-separator.is-style-wide,
.editor-styles-wrapper hr.is-style-wide {
	border-bottom-width: var(--separator--height);
}

.editor-styles-wrapper .wp-block-separator.is-style-dots,
.editor-styles-wrapper hr.is-style-dots {
	border-bottom: none;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots.has-background, .editor-styles-wrapper .wp-block-separator.is-style-dots.has-text-color,
.editor-styles-wrapper hr.is-style-dots.has-background,
.editor-styles-wrapper hr.is-style-dots.has-text-color {
	background-color: transparent !important;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots.has-background:before, .editor-styles-wrapper .wp-block-separator.is-style-dots.has-text-color:before,
.editor-styles-wrapper hr.is-style-dots.has-background:before,
.editor-styles-wrapper hr.is-style-dots.has-text-color:before {
	color: currentColor !important;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots:before,
.editor-styles-wrapper hr.is-style-dots:before {
	color: var(--separator--border-color);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-separator, .has-background:not(.has-background-background-color)
.editor-styles-wrapper hr,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper hr,
[style*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper hr,
.wp-block-cover[style*="background-image"]
.editor-styles-wrapper hr {
	border-color: currentColor;
}

.editor-styles-wrapper table th,
.editor-styles-wrapper .wp-block-table th {
	font-family: var(--heading--font-family);
}

.editor-styles-wrapper table td,
.editor-styles-wrapper table th,
.editor-styles-wrapper .wp-block-table td,
.editor-styles-wrapper .wp-block-table th {
	padding: calc( 0.5 * var(--global--spacing-unit));
}

/**
 * Editor Post Title
 * - Needs a special styles
 */
.editor-post-title__block .editor-post-title__input {
	color: var(--global--color-foreground);
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper {
	/**
	 * Spacing Overrides
	 */
}

.editor-styles-wrapper .has-primary-color[class] {
	color: var(--global--color-primary) !important;
}

.editor-styles-wrapper .has-secondary-color[class] {
	color: var(--global--color-secondary) !important;
}

.editor-styles-wrapper .has-foreground-color[class] {
	color: var(--global--color-foreground) !important;
}

.editor-styles-wrapper .has-foreground-light-color[class] {
	color: var(--global--color-foreground-light) !important;
}

.editor-styles-wrapper .has-foreground-dark-color[class] {
	color: var(--global--color-foreground-dark) !important;
}

.editor-styles-wrapper .has-background-light-color[class] {
	color: var(--global--color-background-light) !important;
}

.editor-styles-wrapper .has-background-dark-color[class] {
	color: var(--global--color-background-dark) !important;
}

.editor-styles-wrapper .has-background-color[class] {
	color: var(--global--color-background) !important;
}

.editor-styles-wrapper .has-background:not(.has-background-background-color) a,
.editor-styles-wrapper .has-background p, .editor-styles-wrapper .has-background h1, .editor-styles-wrapper .has-background h2, .editor-styles-wrapper .has-background h3, .editor-styles-wrapper .has-background h4, .editor-styles-wrapper .has-background h5, .editor-styles-wrapper .has-background h6 {
	color: currentColor;
}

.editor-styles-wrapper .has-primary-background-color[class] {
	background-color: var(--global--color-primary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-primary-background-color[class] {
	background-color: var(--global--color-primary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-secondary-background-color[class] {
	background-color: var(--global--color-secondary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-background-color[class] {
	background-color: var(--global--color-foreground) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-light-background-color[class] {
	background-color: var(--global--color-foreground-light) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-dark-background-color[class] {
	background-color: var(--global--color-foreground-dark) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-background-light-background-color[class] {
	background-color: var(--global--color-background-light) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .has-background-dark-background-color[class] {
	background-color: var(--global--color-background-dark) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .has-background-background-color[class] {
	background-color: var(--global--color-background) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .has-white-background-color[class] {
	background-color: var(--global--color-white) !important;
	color: var(--global--color-secondary);
}

.editor-styles-wrapper .has-black-background-color[class] {
	background-color: var(--global--color-black) !important;
	color: var(--global--color-primary);
}

.editor-styles-wrapper .is-small-text,
.editor-styles-wrapper .has-small-font-size {
	font-size: var(--global--font-size-sm);
}

.editor-styles-wrapper .is-regular-text,
.editor-styles-wrapper .has-regular-font-size,
.editor-styles-wrapper .has-normal-font-size,
.editor-styles-wrapper .has-medium-font-size {
	font-size: var(--global--font-size-md);
}

.editor-styles-wrapper .is-large-text,
.editor-styles-wrapper .has-large-font-size {
	font-size: var(--global--font-size-lg);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .is-larger-text,
.editor-styles-wrapper .has-larger-font-size,
.editor-styles-wrapper .has-huge-font-size {
	font-size: var(--global--font-size-xl);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-size: calc(2 * var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight);
}

.editor-styles-wrapper [data-block] {
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper [data-block] {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}
