@import 'config';

.wp-block-jetpack-layout-grid {
	grid-gap: var(--layout-grid--gutter-large) !important;
	padding-left: var(--layout-grid--gutter-large) !important;
	padding-right: var(--layout-grid--gutter-large) !important;

	// Gutter Options
	@each $size in $layout-gutter-sizes {
		&.wp-block-jetpack-layout-gutter__#{$size} {
			grid-gap: var(--layout-grid--gutter-#{$size}) !important;
			padding-left: var(--layout-grid--gutter-#{$size}) !important;
			padding-right: var(--layout-grid--gutter-#{$size}) !important;

			&.wp-block-jetpack-layout-gutter__nowrap {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
	}

	// background Offset
	.wp-block-jetpack-layout-grid-column.has-background {
		margin-left: calc(var(--layout-grid--gutter-bg-offset) * -1) !important;
		margin-right: calc(var(--layout-grid--gutter-bg-offset) * -1) !important;
	}

	// Padding Options
	.wp-block-jetpack-layout-grid-column {
		@each $size in $layout-gutter-sizes {
			&.wp-block-jetpack-layout-grid__padding-#{$size} {
				padding: var(--layout-grid--gutter-#{$size}) !important;

				&.has-background {
					padding: var(--layout-grid--gutter-#{$size}) calc(var(--layout-grid--gutter-#{$size}) + var(--layout-grid--gutter-bg-offset)) !important;
				}
			}
		}
	}
}
