.entry-meta,
.entry-footer {

	color: var(--entry-meta--color);
	clear: both;
	float: none;
	font-size: var(--entry-meta--font-size);
	display: block;

	> span {
		display: inline-block;
		margin-right: var(--global--spacing-unit);

		& > *,
		span .fn {
			display: inline-block;
			vertical-align: middle;
		}

		&:last-child {
			margin-right: 0;
		}

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	a {
        border-bottom: none;
		color: var(--entry-meta--color-link);

		&:hover,
		&:active {
			color: var(--entry-meta--color-hover);
		}
	}

	.svg-icon {
		fill: currentColor;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: calc(0.25 * var(--global--spacing-unit));
	}
}

.entry-meta {

}

.entry-footer {

}
