@import '../structure/responsive-logic';

body {
	--wp--typography--line-height: var(--global--line-height-body);
	color: var(--global--color-foreground);
	background-color: var(--global--color-background);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-root);
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Set font size of title block the same as body.
.editor-post-title__block {
	font-size: var(--global--font-size-root);
}

// Links styles
a {
	border-bottom: 1px solid var(--global--color-secondary);
	color: var(--global--color-primary);
	text-decoration: none;

	&:hover {
		color: var(--global--color-primary-hover);
	}
}

button,
a {
	cursor: pointer;
}

.wp-block {

	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
	// This line overrides it to use the responsive spacing rules for default width content
	&:not([data-align="full"]):not([data-align="wide"]){
		max-width: var(--responsive--aligndefault-width);
	}

	// Use the theme's max-width for wide alignment.
	&[data-align="wide"],
	&.alignwide {
		max-width: var(--responsive--alignwide-width);
	}

	&.block-editor-default-block-appender > textarea {
		font-family: var(--global--font-secondary);
		font-size: var(--global--font-size-md);
	}

	&.alignright, &.alignleft {
		margin: 0 var(--global--spacing-horizontal);
	}
}

div[data-type="core/button"] {
	display: block;
}