.is-style-media-text-hero.wp-block-media-text {
  grid-template-columns: 40% 1fr;
  width: 110vw;
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
  min-height: 872px;
  padding-top: 4rem;
  position: relative;
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media:before {
  bottom: -3vh;
  content: url("../assets/hero-blobs.svg");
  height: 110vh;
  left: -22vh;
  position: absolute;
  width: auto;
  z-index: -1;
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media > img {
  height: 110vh;
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-image: url("../assets/cover-hero-mask.svg");
  -webkit-mask-image: url("../assets/cover-hero-mask.svg");
  position: absolute;
  width: auto;
}

@media (max-width: 600px) {
  .is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
    grid-row: 1;
  }
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
  padding: 0;
  z-index: 1;
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content > h1 {
  color: #333366;
  font-size: 3.555rem;
  font-family: 'Nova Cut';
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 608px) {
  .is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content > h1 {
    font-size: 6.111rem;
    width: 70vw;
  }
}

.is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content > p {
  font-size: 1.555rem;
  font-weight: lighter;
  margin-top: 0;
  width: 70%;
}

@media screen and (min-width: 608px) {
  .is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content > p {
    font-size: 2.222rem;
  }
}

@media (max-width: 600px) {
  .is-style-media-text-hero.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
    grid-row: 2;
  }
}

.is-style-separator-blobs {
  height: 25vh;
  max-width: unset !important;
  margin: 4rem auto 0;
  border-bottom: none;
}

.is-style-separator-blobs:after {
  background-image: url(../assets/separator.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 608px) {
  .is-style-separator-blobs {
    height: 75vh;
  }
}

.is-style-quote-blobs {
  position: relative;
}

.is-style-quote-blobs.wp-block-quote {
  border-left: none;
}

.is-style-quote-blobs.wp-block-quote > * {
  margin-left: 0;
}

.is-style-quote-blobs > p {
  font-family: 'Nova Cut';
  font-size: 2.222rem;
  line-height: 1.5;
}

.is-style-quote-blobs:after {
  background-image: url(../assets/quote-blobs.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: " ";
  height: 100%;
  position: absolute;
  right: -20%;
  top: 0;
  width: 50%;
  z-index: -1;
}

.is-style-latest-posts-stacked > li > a {
  color: #333366;
  font-family: 'Overpass';
  font-size: 2rem;
  letter-spacing: unset;
  text-transform: none;
}

.is-style-cover-hero.wp-block-cover {
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-image: url("../assets/cover-hero-mask.svg");
  -webkit-mask-image: url("../assets/cover-hero-mask.svg");
}

/*# sourceMappingURL=block-styles.css.map */