@mixin header-variables() {
	--branding--color-text: var(--global--color-foreground);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-primary-hover);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--heading--font-size-h1);
	--branding--title--font-weight: normal;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);

	--branding--logo--border-radius: 50%;
	--branding--logo--max-width: 128px;

	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-size: 16px;
	--primary-nav--font-weight: normal;
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-foreground);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit) );

	--social-nav--color-link: var(--global--color-foreground);
	--social-nav--color-link-hover: var(--global--color-primary-hover);
	--social-nav--padding: calc( 0.5 * var(--primary-nav--padding) );
}
