// Site logo

.site-logo {

}

// Site branding

.site-branding {
	color: var(--branding--color-text);
	text-align: center;
}

// Site title

.site-title {

	color: var(--branding--color-link);
	font-family: var(--branding--title--font-family);
	font-size: var(--branding--title--font-size);
	letter-spacing: normal;
	line-height: var(--global--line-height-heading);
	margin-bottom: var(--global--spacing-vertical);

	a {
		color: currentColor;
		font-weight: var(--branding--title--font-weight);

		&:link,
		&:visited {
			color: currentColor;
		}

		&:hover {
			color: var(--branding--color-link-hover);
		}
	}
}

// Site description

.site-description {
	color: currentColor;
	font-family: var(--branding--description--font-family);
	font-size: var(--branding--description--font-size);
}

a {
	text-decoration: none;
	border-bottom: 1px solid var(--global--color-secondary);
}

a.custom-logo-link,
nav a {
	border-bottom: none;
	text-decoration: none;
}

.site-title > a {
	text-underline-width: .125em;
	text-decoration-color: var(--global--color-secondary);
}

// Site logo

.site-logo {
	margin: var(--global--spacing-vertical) var(--global--spacing-horizontal);

	.custom-logo {
		border-radius: var(--branding--logo--border-radius);
		max-width: var(--branding--logo--max-width);
		height: auto;
	}
}
