/* Halftone Shadow Button Style */
.wp-block-button.is-style-halftone-shadow > .wp-block-button__link {
	position: relative;
}

.wp-block-button.is-style-halftone-shadow > .wp-block-button__link:after {
	content: "";
	background: url("../assets/polka-dot.png");
	background-size: 12.5%;
	border-radius: var(--button--border-radius);
	display: block;
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 10px;
	width: 100%;
	height: 100%;
}

.wp-block-button.is-style-halftone-shadow > .wp-block-button__link:hover:after {
	top: 5px;
	left: 5px;
}