/* Media & Text Hero */

.wp-block-media-text.is-style-media-text-hero {
	grid-template-columns: 40% 1fr;
}

.wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
	background-image: none;
	background-size: 0;
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right {
  position: relative;
  background-image: url("../assets/hero-blobs.svg");
  background-position: 60% center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 0;
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__media {
	overflow: hidden;
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__media > img {
  height: 100%;
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: right;
  -webkit-mask-position: right;
  mask-image: url("../assets/cover-hero-mask.svg");
  -webkit-mask-image: url("../assets/cover-hero-mask.svg");
  object-fit: cover;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  .wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__media {
    grid-row: 1;
  }
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content {
  padding: 0;
  z-index: 1;
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content > h1 {
  color: #333366;
  font-size: 3.555rem;
  font-family: 'Nova Cut';
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 608px) {
  .wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content > h1 {
    font-size: 6.111rem;
    width: 70vw;
  }
}

.wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content > p {
  font-size: 1.555rem;
  font-weight: lighter;
  margin-top: 0;
  width: 70%;
}

@media screen and (min-width: 608px) {
  .wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content > p {
    font-size: 2.222rem;
  }
}

@media (max-width: 600px) {
  .wp-block-media-text.is-style-media-text-hero.has-media-on-the-right .wp-block-media-text__content {
    grid-row: 2;
  }
}

.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__media {
	align-self: stretch;
}
