/**
 * Separator Blobs
 */

.wp-block-separator.is-style-separator-blobs {
  height: 25vh;
  max-width: unset !important;
  margin: 4rem auto 0;
  border-bottom: none;
}

.wp-block-separator.is-style-separator-blobs:after {
  background-image: url(../assets/separator.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 608px) {
  .wp-block-separator.is-style-separator-blobs {
    height: 75vh;
  }
}
