@font-face {
	font-family: 'Overpass';
	src: url('../assets/fonts/Overpass/Overpass-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass';
	src: url('../assets/fonts/Overpass/Overpass-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Overpass';
	src: url('../assets/fonts/Overpass/Overpass-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass';
	src: url('../assets/fonts/Overpass/Overpass-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Nova Cut';
	src: url('../assets/fonts/Nova_Cut/NovaCut-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1 {
	color: $primary-color;
	font-family: 'Overpass';
	font-size: 3.555rem;
	font-weight: lighter;
	line-height: 1.1;
}

h2,h3,h5 {
	color: #fff;
	font-family: 'Nova Cut';
	font-weight: normal;
}

h4, h6 {
	color: $primary-color;
	font-family: 'Overpass';
	font-size: 1.333rem;
	line-height: 1.2;
}


h2 {
	font-size: 2.222rem; 
	line-height: 1.1;
}

h3 {
	font-size: 1.777rem;
	line-height: 1.1;
}

h4 {
	font-size: 1.333rem;
	line-height: 1.2;
}

h5 {
	line-height: 1.1;
} 

h6 {
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 1.2;	
	text-transform: uppercase;
}

a {
	border: 4px solid;
	border-top: none;
	border-image: url('../assets/polka-dot.png') 100% 0 round;
	color: $primary-color;
	text-decoration: none;
}
	// font-family: 'Nova Cut';
	// text-decoration: none;
	// text-transform: uppercase;
	// letter-spacing: 2px;

p {
	font-size: 1.222rem;
}
