$version: random( 1000 );
$background-color: #FF9D76;
$primary-color: #333366;
$accent-color: #EB4D55;

$site-padding-sm: 28px;
$site-padding-lg: 110px;
$site-width: 1440px;
$site-content-width: 702px;
$site-content-width-wide: 940px;

$content-padding: 110px;

$breakpoint-sm: 608px;

$z-index-nav: 1000;
