@import 'variables';

.is-style-media-text-hero {
	&.wp-block-media-text {
		grid-template-columns: 100%;
		@media screen and ( min-width: $breakpoint-sm ){
			grid-template-columns: 40% 1fr;
		}
		&.has-media-on-the-right {
			@media screen and ( min-width: $breakpoint-sm ){
			}
		}
		.wp-block-media-text__media {
			grid-row: 1;
			min-height: 430px;
			padding-top: 4rem;
			position: relative;
			&:before {
				background-image: url('../assets/hero-blobs.svg');
				background-repeat: no-repeat;
				background-size: contain;
				content: " ";
				height: 100%;
				left: -15%;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
				@media (min-width: $breakpoint-sm){
					left: -18%;
					top: 8%;
				}
			}
			> img {
				height: 100%;
				mask-mode: alpha;
				-webkit-mask-mode: alpha;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				mask-size: contain;
				-webkit-mask-size: contain;
				// mask-position: 10% 0;
				// -webkit-mask-position: 10% 0;
				mask-image: url('../assets/cover-hero-mask.svg');
				-webkit-mask-image: url('../assets/cover-hero-mask.svg');
				position: absolute;
				top: 0;
				width: auto;
			}
			@media (min-width: $breakpoint-sm){
				grid-row: 1;
				min-height: 872px;
			}
		}
		.wp-block-media-text__content {
			grid-row: 2;
			padding: 0;
			z-index: 1;
			>h1 {
				color: $primary-color;
				font-size: 3.555rem;
				font-family: 'Nova Cut';
				font-weight: normal;
				margin: 0;
				@media screen and (min-width: $breakpoint-sm){
					font-size: 6.111rem;
					width: 70vw;
				}
			}	
			>p {
				font-size: 1.555rem;
				font-weight: lighter;
				margin-top: 0;
				min-width: 320px;
				width: 70%;
				@media screen and ( min-width: $breakpoint-sm ){
					font-size: 2.222rem;
				}
			}
			@media screen and (min-width: $breakpoint-sm ){
				grid-row: 1;
			}
		}
	}
	&.is-stacked-on-mobile {
	}
}

.is-style-separator-blobs {
	height: 25vh;
	max-width: unset !important;
	margin: 4rem auto 0;
	border-bottom: none;
	&:after {
		background-image: url(../assets/separator.svg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		content: " ";
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		position: relative;
		width: 100%;
	}	
	@media screen and ( min-width: $breakpoint-sm ){
		height: 75vh;
	}
}

.is-style-quote-blobs {
	position: relative;
	&.wp-block-quote {
		border-left: none;
		> * {
			margin-left: 0
		}		
	}

	> p {
		font-family: 'Nova Cut';
		font-size: 2.222rem;
		line-height: 1.5;
	}

	&:after {
		background-image: url(../assets/quote-blobs.svg);
		background-size: contain;
		background-repeat: no-repeat;
		content: " ";
		height: 100%;
		position: absolute;
		right: -20%;
		top: 0;
		width: 50%;
		z-index: -1;
	}
}

.is-style-latest-posts-stacked {
	> li > a{
		color: $primary-color;
		font-family: 'Overpass';
		font-size: 2rem;
		letter-spacing: unset;
		text-transform: none;
	}
	> li {
		width: 50%;
	}

	&.wp-block-latest-posts.is-grid {
		&.columns-2 {
			@media screen and ( min-width: 608px ){
				display: grid;
				grid-template-columns: 1fr 1fr;
				max-width: 75%;
				> li {
					width: 75%;
				}
			}
		}
		&.columns-3 {
			@media screen and ( min-width: 608px ){
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				margin-right: 8%;
				> li {
					width: 80%;
				}
			}
		}
	}
}

.is-style-cover-hero {
	&.wp-block-cover {
		mask-mode: alpha;
		-webkit-mask-mode: alpha;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-size: contain;
		-webkit-mask-size: contain;
		// mask-position: 10% 0;
		// -webkit-mask-position: 10% 0;
		mask-image: url('../assets/cover-hero-mask.svg');
		-webkit-mask-image: url('../assets/cover-hero-mask.svg');
	}
}
