p, h1, h2, h3, h4, h5, h6 {
    &.is-style-border-top {
        border-top: 3px solid var(--global--color-border);
        display: inline-block;
        padding-top: var(--global--spacing-unit);
    }
}