/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General Structure
# Site Header Overrides
  ## Button
  ## Code
  ## Contact Form (Jetpack)
  ## Cover
  ## Embeds
  ## Gallery
  ## Group
  ## Image
  ## Media & Text
  ## Latest Posts
  ## List
  ## More
  ## Pullquote
  ## Quote
  ## Separator
  ## Table
  ## Video
  ## Search & Inputs
# Additional Theme Styles
  ## Color Palette
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## General Structure
--------------------------------------------------------------*/

.entry-content > *,
.site-header > *,
.site-footer > *,
.site-content > h1 {
  margin: 36px auto;
  max-width: var(--wp--content-width--standard);
  padding-left: var(--wp--spacing--small);
  padding-right: var(--wp--spacing--small);
}

.entry-content > .alignwide,
.site-header > .alignwide
.site-footer > .alignwide {
  max-width: var(--wp--content-width--wide);
}

.entry-content > .alignfull,
.site-header > .alignfull,
.site-footer > .alignfull {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

@media screen and (min-width: 608px) {
  .entry-content > *,
  .site-header > *,
  .site-footer > *,
  .site-content > h1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*--------------------------------------------------------------
## Site Header Overrides
--------------------------------------------------------------*/

.site-header h1 {
  font-size: var(--wp--typography--font-size-heading-4);
}

.site-header .wp-block-column > * {
  padding-left: var(--wp--spacing--large);
}

.site-header .wp-block-navigation, .wp-block-navigation>.wp-block-navigation__container {
  justify-content: flex-end;
}

.site-header .wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
  padding-left: var(--wp--spacing--large);
  padding-right: var(--wp--spacing--large);
}

/* Hack to get the header floating above content */
.home .site-header {
  height: 200px;
  margin-bottom: -228px;
}

/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/

.wp-block-button a.wp-block-button__link,
.wp-block-button.is-style-outline a.wp-block-button__link {
  border: 2px solid transparent;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  color: var(--wp--color--black);
  font-size: 1rem;
  opacity: 1;
  padding: 1.2rem 2.25rem;
  transition: all .15s ease-in-out;
}

.wp-block-button a.wp-block-button__link:focus,
.wp-block-button.is-style-outline a.wp-block-button__link:focus {
  background-color: var(--wp--color--primary);
  border: 2px solid var(--wp--color--black);
}

.wp-block-button a.wp-block-button__link:hover,
.wp-block-button.is-style-outline a.wp-block-button__link:hover {
  background-color: var(--wp--color--primary);
  opacity: .75;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
  border: 2px solid var(--wp--color--black);
}

.wp-block-button.is-style-outline a.wp-block-button__link:focus {
  background-color: transparent;
  border-width: 4px;
  color: var(--wp--color--black);
}

.wp-block-button.is-style-outline a.wp-block-button__link:hover {
  color: var(--wp--color--black);
  background-color: var(--wp--color--primary-hover);
  opacity: 1;
}

/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/

.wp-block-code {
  padding: 0.8em 1em;
  margin-left: var(--wp--spacing--small);
  margin-right: var(--wp--spacing--small);
}

@media screen and (min-width: 608px) {
  .wp-block-code {
    margin-left: auto;
    margin-right: auto;
  }
}

/*--------------------------------------------------------------
## Contact Form (Jetpack)
--------------------------------------------------------------*/

.contact-form label {
  font-family: var(--wp--typography--font-family);
  font-size: var(--wp--typography--font-size-heading-3);
}

/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/

.wp-block-cover {
  transition: border-bottom-right-radius 0.1s ease-out;
}

.wp-block-cover:hover {
  cursor: pointer;
  border-bottom-right-radius: 1rem;
}

.wp-block-cover-text p {
  padding: 1.5em var(--wp--spacing--small);
}

@media screen and (min-width: 608px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

/*--------------------------------------------------------------
## Group
--------------------------------------------------------------*/

.wp-block-group > .wp-block-group__inner-container > * {
  max-width: var(--wp--content-width--standard);
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  max-width: 1070px;
}

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  max-width: 100%;
}

.wp-block-group.has-background {
	padding: 72px 30px;
}

.wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
  margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc( 100% + 60px );
  max-width: calc( 100% + 60px );
  position: relative;
  left: -30px;
}

/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/

figure.wp-block-image {
  margin: 0;
}

.wp-block-image img {
  display: block;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-image .alignleft img,
.wp-block-image .alignright img,
.wp-block-image .alignleft figcaption,
.wp-block-image .alignright figcaption {
  max-width: 100%;
  width: 100%;
}

.wp-block-image .aligncenter, 
.wp-block-image .alignleft, 
.wp-block-image .alignright, 
.wp-block-image.is-resized {
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Media & Text
--------------------------------------------------------------*/

.wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content h1, .wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content h2 {
  margin-bottom: 0;
}

.wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content h1, .wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content h2 {
  margin-top: 0;
}

.wp-block-media-text.is-style-boxed .wp-block-media-text__content {
    background: var(--wp--color--background-light);
    border-bottom-right-radius: 2rem;
	padding: 24px 72px 64px;
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-overlap .wp-block-media-text__content {
    margin-left: -15vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-overlap.has-media-on-the-right .wp-block-media-text__content {
    margin-left: unset;
    margin-right: -15vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-boxed .wp-block-media-text__content {
    margin-left: -10vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-boxed.has-media-on-the-right .wp-block-media-text__content {
    margin-left: unset;
    margin-right: -10vw;
  }
}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 var(--wp--spacing--small);
}

.wp-block-latest-posts > li > a {
  color: var(--wp--color--black);
  font-size: 26px;
  font-weight: normal;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
  font-family: var(--wp--typography--font-family);
  font-size: var(--wp--typography--font-size);
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

.entry-content ul,
.entry-content ol,
.site-header ul,
.site-header ol,
.site-footer ul,
.site-footer ol {
  margin: 1.5em auto;
  max-width: var(--wp--content-width--standard);
  list-style-position: outside;
}

.entry-content li,
.site-header li,
.site-footer li, {
  margin-left: 2.5em;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul,
.site-header ul ul,
.site-header ol ol,
.site-header ul ol,
.site-header ol ul,
.site-footer ul ul,
.site-footer ol ol,
.site-footer ul ol,
.site-footer ol ul {
  margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li,
.site-header ul ul li,
.site-header ol ol li,
.site-header ul ol li,
.site-header ol ul li
.site-footer ul ul li,
.site-footer ol ol li,
.site-footer ul ol li,
.site-footer ol ul li {
  margin-left: 0;
}

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/

.more-link {
  display: block;
}

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/

.wp-block-pullquote {
  border: none;
}

.wp-block-pullquote > blockquote > p {
  font-size: 32px;
  line-height: 1.5;
}

@media screen and (min-width: 532px) {
  .wp-block-pullquote > blockquote > p {
    font-size: 48px;
  }
}

.wp-block-pullquote cite {
  color: var(--wp--color--foreground-light);
  font-family: 'CircularStd';
  text-transform: none;
}

.wp-block-pullquote>p:first-child {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Quote
--------------------------------------------------------------*/

.wp-block-quote {
  margin-left: var(--wp--spacing--small);
  margin-right: var(--wp--spacing--small);
  padding: 0;
}

.wp-block-quote > * {
  margin-left: 1rem;
}

.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
  margin: 36px auto;
  padding: 0;
}

.wp-block-quote.is-large cite, 
.wp-block-quote.is-large footer, 
.wp-block-quote.is-style-large cite, 
.wp-block-quote.is-style-large footer {
  font-size: 13px;
  font-size: 0.8125rem;
}

@media screen and (min-width: 644px) {
  .wp-block-quote {
    margin: 36px auto;
  }
}

.wp-block-quote {
  border-left: 2px solid var(--wp--color--primary);
  padding-left: 32px;
}

.wp-block-quote > p {
  font-size: 18px;
  font-style: italic;
  font-variation-settings: "ital" 1;
  line-height: 1.6;
  margin-bottom: 0;
}

@media screen and (min-width: 582px) {
  .wp-block-quote > p {
    font-size: 22px;
  }
}

.wp-block-quote cite {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 582px) {
  .wp-block-quote cite {
    font-size: 18px;
  }
}

.wp-block-quote.is-style-large {
  border-left: 2px solid var(--wp--color--primary);
  padding-left: 32px;
}

.wp-block-quote.is-style-large > p {
  font-size: 26px;
  font-style: italic;
  font-variation-settings: "ital" 1;
  line-height: 1.5;
  margin-bottom: 0;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-large > p {
    font-size: 32px;
  }
}

.wp-block-quote.is-style-large cite {
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-large cite {
    font-size: 22px;
  }
}

.wp-block-quote.is-style-stylish:before, .wp-block-pullquote.is-style-stylish:before {
  content: " ";
  background-image: url("../assets/quote-stylish.svg");
  background-size: cover;
}

.wp-block-pullquote.is-style-stylish:before {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto .5rem;
}

.wp-block-quote.is-style-stylish {
  border-left: none;
  padding-left: 0;
  position: relative;
}

.wp-block-quote.is-style-stylish:before {
  display: block;
  height: 50px;
  margin-bottom: 12px;
  width: 50px;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-stylish:before {
    position: absolute;
    left: -82px;
    top: 12px;
  }
}

/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/

.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}

.wp-block-separator, 
.wp-block-separator.is-style-wide {
  border-color: var(--wp--color--border-light) !important;
  border-bottom-right-radius: 8px;
  border-width: 2px;
  position: relative;
}

.wp-block-separator.is-style-gap:before, 
.wp-block-separator.is-style-wide.is-style-gap:before {
  border-left: 2px solid var(--wp--color--border-light);
  border-right: 2px solid var(--wp--color--border-light);
  background: white;
  content: " ";
  height: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -6px;
  width: 12px;
}

.wp-block-separator.is-style-wide:after, 
.wp-block-separator.is-style-wide.is-style-wide:after {
  border-bottom: 2px solid var(--wp--color--border-light);
  border-right: 2px solid var(--wp--color--border-light);
  border-bottom-right-radius: 10px;
  content: " ";
  height: 8px;
  width: 8px;
  position: absolute;
  right: -8px;
  bottom: -2px;
}

.wp-block-separator.is-style-wide, 
.wp-block-separator.is-style-gap:not(.is-style-wide):not(.is-style-dots), 
.wp-block-separator.is-style-wide.is-style-wide, hr.wp-block-separator.is-style-wide.is-style-gap:not(.is-style-wide):not(.is-style-dots) {
  max-width: calc( 100% - calc(2 * 14px ));
}

@media screen and (min-width: 532px) {
  .wp-block-separator.is-style-wide, 
  .wp-block-separator.is-style-gap:not(.is-style-wide):not(.is-style-dots), 
  .wp-block-separator.is-style-wide.is-style-wide, hr.wp-block-separator.is-style-wide.is-style-gap:not(.is-style-wide):not(.is-style-dots) {
    max-width: calc( 782px - calc(2 * 14px));
  }
}

/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/

.wp-block-table {
  overflow-x: auto;
  margin-left: var(--wp--spacing--small);
  margin-right: var(--wp--spacing--small);
  width: calc( 100% - (var(--wp--spacing--small) * 2));
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

@media screen and (min-width: 608px) {
  .wp-block-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.wp-block-table.is-style-regular table {
  border: 2px solid var(--wp--color--border-dark);
}

.wp-block-table.is-style-regular thead {
  border-bottom: 1px solid var(--wp--color--border-light);
}

.wp-block-table.is-style-regular tfoot {
  border-top: 1px solid var(--wp--color--border-light);
}

.wp-block-table.is-style-regular thead th, .wp-block-table.is-style-regular thead td, .wp-block-table.is-style-regular tfoot th, .wp-block-table.is-style-regular tfoot td {
  border: none;
  font-family: 'CircularStd';
  font-weight: bold;
}

.wp-block-table.is-style-regular thead th, .wp-block-table.is-style-regular thead td, .wp-block-table.is-style-regular tbody th, .wp-block-table.is-style-regular tbody td, .wp-block-table.is-style-regular tfoot th, .wp-block-table.is-style-regular tfoot td {
  border: none;
}


/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/

.wp-block-video video {
  max-width: var(--wp--content-width--standard);
}

/*--------------------------------------------------------------
## Search & Inputs
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.wp-block-search .wp-block-search__input {
  border-color: var(--wp--color--border);
  border-radius: 0;
  border-top-left-radius: 8px;
  border-width: 2px;
  padding: .75rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
.wp-block-search .wp-block-search__input:focus {
  background-color: var(--wp--color--primary-hover);
  border-color: var(--wp--color--black);
}

