@font-face {
  font-family: 'CircularStd';
  src: url("../assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manuale';
  src: url("../assets/fonts/Manuale-VariableFont:wght.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: 'CircularStd';
}

h4, h5 {
  font-weight: normal;
}

h1 {
  line-height: 1.05 !important;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/**
 * Extra Block Styles
 */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.wp-block-search .wp-block-search__input {
  border-color: var(--global--color-foreground-light);
  border-radius: 0;
  border-top-left-radius: 8px;
  border-width: 2px;
  padding: .75rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
.wp-block-search .wp-block-search__input:focus {
  background-color: var(--global--color-primary-hover);
  border-color: var(--global--color-black);
}

.contact-form label {
  font-family: 'CircularStd';
  font-size: 22px;
}

hr.wp-block-separator, hr.wp-block-separator.is-style-wide {
  border-color: var(--global--color-border-light) !important;
  border-bottom-right-radius: 8px;
  border-width: 2px;
  position: relative;
}

hr.wp-block-separator.is-style-gap:before, hr.wp-block-separator.is-style-wide.is-style-gap:before {
  border-left: 2px solid var(--global--color-border-light);
  border-right: 2px solid var(--global--color-border-light);
  background: white;
  content: " ";
  height: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -6px;
  width: 12px;
}

hr.wp-block-separator.is-style-wide:after, hr.wp-block-separator.is-style-wide.is-style-wide:after {
  border-bottom: 2px solid var(--global--color-border-light);
  border-right: 2px solid var(--global--color-border-light);
  border-bottom-right-radius: 10px;
  content: " ";
  height: 8px;
  width: 8px;
  position: absolute;
  right: -8px;
  bottom: -2px;
}

hr.wp-block-separator.is-style-wide, hr.wp-block-separator.is-style-gap:not(.is-style-wide):not(.is-style-dots), hr.wp-block-separator.is-style-wide.is-style-wide, hr.wp-block-separator.is-style-wide.is-style-gap:not(.is-style-wide):not(.is-style-dots) {
  max-width: calc( 100% - calc(2 * 14px ));
}

@media screen and (min-width: 532px) {
  hr.wp-block-separator.is-style-wide, hr.wp-block-separator.is-style-gap:not(.is-style-wide):not(.is-style-dots), hr.wp-block-separator.is-style-wide.is-style-wide, hr.wp-block-separator.is-style-wide.is-style-gap:not(.is-style-wide):not(.is-style-dots) {
    max-width: calc( 782px - calc(2 * 14px));
  }
}

.site-branding,
.site-info,
.main-navigation,
.entry-header,
.entry-footer,
.page-title,
.author-title,
.comments-title,
.comment-reply-title {
  text-align: center;
}

.main-navigation > div {
  text-align: left;
}

.comment-reply-title {
  display: inherit;
}

.comment .comment-reply-title {
  display: flex;
}

.main-navigation > div > ul,
.social-navigation > div > ul,
.pagination .nav-links {
  justify-content: center;
}

.wp-block-cover {
  transition: border-bottom-right-radius 0.1s ease-out;
}

.wp-block-cover:hover {
  cursor: pointer;
  border-bottom-right-radius: 1rem;
}

button,
button[type="submit"],
button.pushbutton-wide {
  border: 2px solid transparent;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  color: var(--global--color-black);
  font-size: 1rem;
  opacity: 1;
  padding: 1.2rem 2.25rem;
  transition: all .15s ease-in-out;
}

button:focus,
button[type="submit"]:focus,
button.pushbutton-wide:focus {
  background-color: var(--global--color-primary);
  border: 2px solid var(--global--color-black);
}

button:hover,
button[type="submit"]:hover,
button.pushbutton-wide:hover {
  background-color: var(--global--color-primary);
  opacity: .75;
}

.wp-block-button a.wp-block-button__link,
.wp-block-button.is-style-outline a.wp-block-button__link {
  border: 2px solid transparent;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  color: var(--global--color-black);
  font-size: 1rem;
  opacity: 1;
  padding: 1.2rem 2.25rem;
  transition: all .15s ease-in-out;
}

.wp-block-button a.wp-block-button__link:focus,
.wp-block-button.is-style-outline a.wp-block-button__link:focus {
  background-color: var(--global--color-primary);
  border: 2px solid var(--global--color-black);
}

.wp-block-button a.wp-block-button__link:hover,
.wp-block-button.is-style-outline a.wp-block-button__link:hover {
  background-color: var(--global--color-primary);
  opacity: .75;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
  border: 2px solid var(--global--color-black);
}

.wp-block-button.is-style-outline a.wp-block-button__link:focus {
  background-color: transparent;
  border-width: 4px;
  color: var(--global--color-black);
}

.wp-block-button.is-style-outline a.wp-block-button__link:hover {
  color: var(--global--color-black);
  background-color: var(--global--color-primary-hover);
  opacity: 1;
}

.wp-block-latest-posts > li > a {
  color: var(--global--color-black);
  font-size: 26px;
  font-weight: normal;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
  font-family: 'CircularStd';
  font-size: 16px;
}

.wp-block-pullquote {
  border: none;
}

.wp-block-pullquote > blockquote > p {
  font-size: 32px;
  line-height: 1.5;
}

@media screen and (min-width: 532px) {
  .wp-block-pullquote > blockquote > p {
    font-size: 48px;
  }
}

.wp-block-pullquote cite {
  color: var(--global--color-foreground-light);
  font-family: 'CircularStd';
  text-transform: none;
}

.wp-block-quote {
  border-left: 2px solid var(--global--color-primary);
  padding-left: 32px;
}

.wp-block-quote > p {
  font-size: 18px;
  font-style: italic;
  font-variation-settings: "ital" 1;
  line-height: 1.6;
  margin-bottom: 0;
}

@media screen and (min-width: 582px) {
  .wp-block-quote > p {
    font-size: 22px;
  }
}

.wp-block-quote cite {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 582px) {
  .wp-block-quote cite {
    font-size: 18px;
  }
}

.wp-block-quote.is-style-large {
  border-left: 2px solid var(--global--color-primary);
  padding-left: 32px;
}

.wp-block-quote.is-style-large > p {
  font-size: 26px;
  font-style: italic;
  font-variation-settings: "ital" 1;
  line-height: 1.5;
  margin-bottom: 0;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-large > p {
    font-size: 32px;
  }
}

.wp-block-quote.is-style-large cite {
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-large cite {
    font-size: 22px;
  }
}

.wp-block-quote.is-style-stylish:before, .wp-block-pullquote.is-style-stylish:before {
  content: " ";
  background-image: url("./assets/quote-stylish.svg");
  background-size: cover;
}

.wp-block-pullquote.is-style-stylish:before {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto .5rem;
}

.wp-block-quote.is-style-stylish {
  border-left: none;
  padding-left: 0;
  position: relative;
}

.wp-block-quote.is-style-stylish:before {
  display: block;
  height: 50px;
  margin-bottom: 12px;
  width: 50px;
}

@media screen and (min-width: 582px) {
  .wp-block-quote.is-style-stylish:before {
    position: absolute;
    left: -82px;
    top: 12px;
  }
}

.wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content h1, .wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content h2 {
  margin-bottom: 0;
}

.wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content h1, .wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content h2 {
  margin-top: 0;
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-overlap .wp-block-media-text__content {
    margin-left: -15vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-overlap.has-media-on-the-right .wp-block-media-text__content {
    margin-left: unset;
    margin-right: -15vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-boxed .wp-block-media-text__content {
    background: var(--global--color-background-light);
    border-bottom-right-radius: 2rem;
    margin-left: -10vw;
  }
}

@media screen and (min-width: 582px) {
  .wp-block-media-text.is-style-boxed.has-media-on-the-right .wp-block-media-text__content {
    margin-left: unset;
    margin-right: -10vw;
  }
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container {
  flex-direction: column;
  align-items: flex-start;
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container .wp-block-navigation-link a {
  font-family: 'CircularStd' !important;
  font-size: 48px;
  text-decoration: none;
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container .wp-block-navigation-link.has-child {
  flex-direction: column;
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container .wp-block-navigation-link.has-child > .wp-block-navigation__container {
  background: transparent;
  border: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  visibility: visible;
  transform-origin: top;
  transition: all .25s ease-out;
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container .wp-block-navigation-link.has-child > .wp-block-navigation__container a {
  color: var(--global--color-primary);
  font-size: 36px;
}

.wp-block-navigation.is-style-vertical .wp-block-navigation__container .wp-block-navigation-link.has-child:hover > .wp-block-navigation__container {
  max-height: 100vh;
  opacity: 1;
  transition: all .25s ease-out;
}

.wp-block-jetpack-contact-info h5, .wp-block-jetpack-contact-info h6 {
  font-weight: bold;
}

.wp-block-table.is-style-regular table {
  border: 2px solid var(--global--color-border-dark);
}

.wp-block-table.is-style-regular thead {
  border-bottom: 1px solid var(--global--color-border-light);
}

.wp-block-table.is-style-regular tfoot {
  border-top: 1px solid var(--global--color-border-light);
}

.wp-block-table.is-style-regular thead th, .wp-block-table.is-style-regular thead td, .wp-block-table.is-style-regular tfoot th, .wp-block-table.is-style-regular tfoot td {
  border: none;
  font-family: 'CircularStd';
  font-weight: bold;
}

.wp-block-table.is-style-regular thead th, .wp-block-table.is-style-regular thead td, .wp-block-table.is-style-regular tbody th, .wp-block-table.is-style-regular tbody td, .wp-block-table.is-style-regular tfoot th, .wp-block-table.is-style-regular tfoot td {
  border: none;
}

/**
 * Header Styles
 */
.site-header h1 {
  font-size: var(--wp--typography--font-size-heading-4);
}

.site-header .wp-block-column > * {
  padding-left: var(--wp--spacing--large);
}

.site-header .wp-block-navigation, .wp-block-navigation > .wp-block-navigation__container {
  justify-content: flex-end;
}

.site-header .wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
  padding-left: var(--wp--spacing--large);
  padding-right: var(--wp--spacing--large);
}

/* Hack to get the header floating above content */
.home .site-header {
  height: 200px;
  margin-bottom: -228px;
}

/*# sourceMappingURL=extra-block-styles.css.map */