/*--------------------------------------------------------------
# Editor Styles
--------------------------------------------------------------*/
@import url( "./css/variables.css" );

.editor-styles-wrapper {
	background: var(--wp--color--background);
	color: var(--wp--color--text);
}

.editor-styles-wrapper > * {
	font-family: var(--wp--typography--font-family);
	font-size: var(--wp--typography--font-size);
	font-weight: var(--wp--typography--font-weight);
}

.editor-post-title__input {
	font-family: var(--wp--typography--font-family);
}