/*--------------------------------------------------------------
# Editor Styles
--------------------------------------------------------------*/
@import url( "./css/variables.css" );

.editor-post-title__input {
	font-family: var(--wp--typography--font-family);
}

.editor-styles-wrapper {
	background: var(--wp--color--background);
	color: var(--wp--color--text);
}

.editor-styles-wrapper > * {
	font-family: var(--wp--typography--font-family);
	font-size: var(--wp--typography--font-size);
	font-weight: var(--wp--typography--font-weight);
}

.editor-styles-wrapper h1 {
  font-size: var(--wp--typography--font-size-heading-1);
  line-height: var(--wp--typography--line-height-heading);
}

.editor-styles-wrapper h2 {
  font-size: var(--wp--typography--font-size-heading-2);
  line-height: var(--wp--typography--line-height-heading);
}

.editor-styles-wrapper h3 {
  font-size: var(--wp--typography--font-size-heading-3);
  line-height: var(--wp--typography--line-height-heading);
}

.editor-styles-wrapper h4 {
  font-size: var(--wp--typography--font-size-heading-4);
  line-height: var(--wp--typography--line-height-heading);
}

.editor-styles-wrapper h5 {
  font-size: var(--wp--typography--font-size-heading-5);
  line-height: var(--wp--typography--line-height-heading);
}

.editor-styles-wrapper h6 {
  font-size: var(--wp--typography--font-size-heading-6);
  line-height: var(--wp--typography--line-height-heading);
}