.wp-block-group {
	.wp-block-group__inner-container {
		padding-left: 14px;
		padding-right: 14px;
	}

	.wp-block-group__inner-container > [data-align=full],
	.wp-block-group__inner-container > .alignfull {
		padding-left: 0;
		padding-right: 0;
		margin-left: -14px;
		width: calc(100% + 28px);
		max-width:  calc(100% + 28px);
	}

	&.has-background {
		padding: var(--global--spacing-vertical);
	}
}

.wp-block[data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full] {
	margin: 0;
	width: 100%;
}
